
@media screen and (min-width:480px) {
    :root {
        font-size: 18px;
    }
}

@media screen and ( min-width: 576px) {
    :root {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 22px;
    }
}

@media screen and (min-width: 992px) {
  header .menu,
  label {
    display: none;
  }

  header .menu-g {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor-principal);
  }

  header .menu-g ul {
    display: flex;
    gap: 50px;
    list-style: none;
  }

  header .menu-g ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    transition: 0.3s;
  }

  header .menu-g ul li a:hover {
    color: var(--cor-secundaria);
  }

  header .menu-g img {
    display: block;
    width: 150px;
    border-radius: 20px;
  }
}
