/* CONFIGURAÇÕES GLOBAIS MOBILE-FIRST */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

:root {
  /* CORES */
  --cor-principal: #fcbc24;
  --cor-secundaria: #a61818;
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100%;
}

header .img-g {
  display:none;
}

header .menu .img-p {
  width: 120px;
  filter: blur(2px);
}

#check:checked ~ .menu .img-p {
  filter: blur(0px);
}

header .menu-g {
  display: none;
}

header {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

header label {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
  transition: all 0.2s;
}

header label:hover {
  transform: scaleX(110%);
  cursor: pointer;
}
input {
  display: none;
}

header label span {
  display: block;
  height: 5px;
  width: 30px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: var(--cor-secundaria);
  transition: 0.3s;
}

#check:checked ~ label span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

#check:checked ~ label span:nth-child(2) {
  opacity: 0;
}

#check:checked ~ label span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

header .menu ul {
  list-style: none;
  font-weight: bold;
  filter: blur(2px);
  text-align: center;
}

#check:checked ~ .menu ul {
  filter: blur(0);
}

header .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.8;
  transition: 0.4s;
}

header .menu ul li a:hover {
  color: var(--cor-secundaria);
}

header .menu ul li a::after {
  position: absolute;
  bottom: 0;
  right: 50%;
  content: "";
  background-color: var(--cor-secundaria);
  width: 0;
  height: 2px;
  transition: 0.3s;
}

header .menu ul li a:hover::after {
  width: 50%;
}

header .menu ul li a::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  background-color: var(--cor-secundaria);
  width: 0;
  height: 2px;
  transition: 0.3s;
}

header .menu ul li a:hover::before {
  width: 50%;
}

header .menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
  background-color: var(--cor-principal);
  width: 100%;
  height: 100vh;
  transition: all 0.5s;
}

#check:checked ~ .menu {
  transform: translateY(0);
}
